@use './partials/variables' as *;
@use './partials/reset' as *;
@use './partials/globals' as *;
@use './partials/mixins' as *;

/* Itinerary Card */
.itinerary-card {
    padding: 4rem 0 7rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.itinerary-card--hawaii {@include iternary-card-background("hawaii");}
.itinerary-card--iceland {@include iternary-card-background("iceland");}
.itinerary-card--greece {@include iternary-card-background("greece");}

.itinerary-card__day {
    width: 100%;
    max-width: 250px;
    padding: 1rem 1rem 3rem;
    margin-right: 4rem;
    border-radius: .35rem;
    text-align: center;
    background-color: $secondary-color;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.itinerary-card__day::last-child {
    margin-right: 0;
}
.itinerary-card__title {
    flex: 0 0 100%;
    margin-bottom: 3rem;
    font-size: 4rem;
    color: $secondary-color;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.itinerary-card__day-title {
    margin-bottom: 2rem;
    color: #222;
    border-bottom: 3px solid #222;
}
.itinerary-card__activities {
    list-style: none;
}
.itinerary-card__activity {
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: $spotlight-color;
}